@using EFMVC.Web.ViewModels
@model ClientModel
@{
    ViewBag.Title = "Client Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/Common.css" rel="stylesheet" />
</head>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Client Details</h2>
        <ol class="breadcrumb">
            <li>
                @*<a href="@Url.Action("Index", "UserManagement",new {area="Admin" })">Dashboard</a>*@
                <a href="@Url.Action("Index", "Campaign",new {area="Admin" })">Dashboard</a>

            </li>
            <li class="active">
                <strong>@ViewBag.clientname</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Client Details</h5>

                </div>
                <div class="ibox-content">
                    @*@using (Html.BeginForm("UpdateClient", "Client", FormMethod.Post, new { @class = "form-horizontal" }))*@
                    @using (Html.BeginForm("UpdateClient", "AdminClient", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @TempData["Error"]
                            </div>
                        }
                        else if (TempData["msgsuccess"] != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @TempData["msgsuccess"]
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name <label class="lbldanger">*</label></label>

                            <div class="col-lg-6">
                                @Html.HiddenFor(Model => Model.Id)
                                @Html.HiddenFor(Model => Model.UserId)
                                @Html.HiddenFor(Model => Model.CountryId)
                                @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control", @placeholder = "Name" })
                                @Html.ValidationMessageFor(Model => Model.Name, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Description <label class="lbldanger">*</label></label>

                            <div class="col-lg-6">
                                @Html.TextAreaFor(Model => Model.Description, new { @class = "form-control", @placeholder = "Description" })
                                @Html.ValidationMessageFor(Model => Model.Description, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Contact Info <label class="lbldanger">*</label></label>

                            <div class="col-lg-6">
                                @Html.TextAreaFor(Model => Model.ContactInfo, new { @class = "form-control", @placeholder = "Contact Info" })
                                @Html.ValidationMessageFor(Model => Model.ContactInfo, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        @*Comment 12-07-2019 As per Trello Card*@
                        @*<div class="form-group">
                            <label class="col-lg-2 control-label">Budget <label class="lbldanger">*</label></label>

                            <div class="col-lg-6">
                                @Html.TextBoxFor(Model => Model.Budget, new { @class = "form-control", @placeholder = "Budget" })
                                @Html.ValidationMessageFor(Model => Model.Budget, null, new { @class = "btn-danger" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Status <label class="lbldanger">*</label></label>

                            <div class="col-lg-6">
                                @Html.DropDownListFor(Model => Model.Status, ViewBag.clientStatus as IEnumerable<SelectListItem>, "--Select Status--", new { @class = "form-control input-s-sm inline" })
                                @Html.ValidationMessageFor(Model => Model.Status, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-blue" type="submit">Submit</button>
                                @*<button class="btn btn-sm btn-white" type="button" onclick="window.location.href='@Url.Action("Index","Client")'">Cancel</button>*@
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

