@model EFMVC.Web.ViewModels.CampaignProfileFormModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Add Client</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Campaigns</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Add Campaign</h5>

                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Save", "Dashboard", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(model => model.CreatedDateTime)
                        @Html.HiddenFor(model => model.UpdatedDateTime)
                        <input type="hidden" id="hdnstatus" name="hdnstatus" value="Played" />
                        if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @TempData["Error"]
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            
                            <div class="col-lg-6">
                                @Html.TextBoxFor(Model => Model.CampaignName, new { @class = "form-control", @placeholder = "Name" })
                                @Html.ValidationMessageFor(Model => Model.CampaignName, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Description</label>

                            <div class="col-lg-6">
                                @Html.TextAreaFor(Model => Model.CampaignDescription, new { @class = "form-control", @placeholder = "Description" })
                                @Html.ValidationMessageFor(Model => Model.CampaignDescription, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Client</label>

                            <div class="col-lg-6">
                                @Html.DropDownListFor(Model => Model.ClientId, ViewBag.client as IEnumerable<SelectListItem>, "--Select Client--", new { @class = "input-sm form-control input-s-sm inline" })
                                @Html.ValidationMessageFor(Model => Model.ClientId, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">MaxDailyBudget</label>

                            <div class="col-lg-6">
                                @Html.TextBoxFor(Model => Model.MaxDailyBudget, new { @class = "form-control auto", @placeholder = "Budget",data_a_dec = ".", data_a_sep = "," })
                                @Html.ValidationMessageFor(Model => Model.MaxDailyBudget, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">TotalBudget</label>

                            <div class="col-lg-6">
                                @Html.TextBoxFor(Model => Model.TotalBudget, new { @class = "form-control auto", @placeholder = "TotalBudget", data_a_dec = ".", data_a_sep = "," })
                                @Html.ValidationMessageFor(Model => Model.TotalBudget, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">MaxBid</label>

                            <div class="col-lg-6">
                                @Html.TextBoxFor(Model => Model.MaxBid, new { @class = "form-control auto", @placeholder = "MaxBid", data_a_dec = ".", data_a_sep = "," })
                                @Html.ValidationMessageFor(Model => Model.MaxBid, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>

                            <div class="col-lg-6">
                                <div id="wizard">
                                    <h1>Play</h1>
                                    <div class="step-content">
                                       
                                    </div>

                                    <h1>Pause</h1>
                                    <div class="step-content">
                                        
                                    </div>
                                    <h1>Archive</h1>
                                    <div class="step-content">

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-blue" type="submit">Save</button>
                                <button class="btn btn-sm btn-white" type="button" onclick="window.location.href='@Url.Action("Index","Dashboard")'">Cancel</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
@Styles.Render("~/plugins/wizardStepsStyles")
}
@section Scripts {
@Scripts.Render("~/plugins/wizardSteps")
<script type="text/javascript">
    $(document).ready(function () {
        $("#wizard").steps();
        $(".content.clearfix").remove();
        $(".number").remove();
        $("#wizard-t-0").click(function () {
            wizardt0();
            $("#hdnstatus").val("Played");
        });
        $("#wizard-t-1").click(function () {
            wizardt1();
            $("#hdnstatus").val("Pause");
        });
        $("#wizard-t-2").click(function () {
            wizardt2();
            $("#hdnstatus").val("Archive");
        });
        function wizardt1() {
            $("#wizard-t-1").parent().removeClass("last");
            $("#wizard-t-1").parent().addClass("current");
            $("#wizard-t-0").parent().removeClass("current");
            $("#wizard-t-0").parent().addClass("disabled last");
            $("#wizard-t-2").parent().removeClass("current");
            $("#wizard-t-2").parent().addClass("disabled last");
          
        }
        function wizardt0() {
            $("#wizard-t-0").parent().removeClass("disabled last");
            $("#wizard-t-0").parent().addClass("current");
            $("#wizard-t-1").parent().removeClass("current");
            $("#wizard-t-1").parent().addClass("disabled last");
            $("#wizard-t-2").parent().removeClass("current");
            $("#wizard-t-2").parent().addClass("disabled last");

        }
        function wizardt2() {
            $("#wizard-t-2").parent().removeClass("disabled last");
            $("#wizard-t-2").parent().addClass("current");
            $("#wizard-t-1").parent().removeClass("current");
            $("#wizard-t-1").parent().addClass("disabled last");
            $("#wizard-t-0").parent().removeClass("current");
            $("#wizard-t-0").parent().addClass("disabled last");
        }

    });
    </script>
}