@using EFMVC.Web.Areas.ProfileAdmin.Models;
@model Tuple<List<UserCampaignResult>, UserCampaignFilter>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title" style="border-style:none;">
                <h5>Campaigns Management</h5>

            </div>

            @using (Ajax.BeginForm("SearchCampaign", "UserCampaign", null,
  new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, OnSuccess = "getuserresult", OnBegin = "progressbar" },
  null))
            {
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Countries</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    @Html.DropDownList("CountryId", (MultiSelectList)ViewBag.country, new { @class = "chosen-select", multiple = "multiple", @data_placeholder = "All Countries" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Operators</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    @Html.DropDownList("OperatorId", (MultiSelectList)ViewBag.operators, new { @class = "chosen-select", multiple = "multiple", @data_placeholder = "All Operators" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Campaigns</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    @Html.DropDownList("CampaignId", (MultiSelectList)ViewBag.campaigns, new { @class = "chosen-select", multiple = "multiple", @data_placeholder = "All Campaigns" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Adverts</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    @Html.DropDownList("AdvertId", (MultiSelectList)ViewBag.adverts, new { @class = "chosen-select", multiple = "multiple", @data_placeholder = "All Adverts" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-lg-12">
                            <div class="col-sm-12 center">
                                <button class="btn btn-blue" type="button" id="btnSearch">Search</button>
                                <button class="btn btn-white" type="button" id="btnreset">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div id="campaignList">
                        @{ Html.RenderPartial("_UserCampaignDetails", Model.Item1);}
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var progressbar = function (data) {
        $(".spiner-example").show();
    };
    var getuserresult = function (data) {
        if (data != "notauthorise") {
            $(".spiner-example").hide();
            $('.dataTables-usercampaign').remove();
            $("#campaignList").html(data);
            dataTableSetup();
        }
        else {
            window.location.href = '@Url.Action("Index","Login",new { area = "Admin" })';
        }
    };
    function dataTableSetup() {
        $('.dataTables-usercampaign').DataTable({
            "preDrawCallback": function (settings) {
                $(".spiner-example").show();
            },
            "info": false,
            bFilter: false,
            "searching": false,
            "bLengthChange": false,
            "language": {
                "infoEmpty": "No Record Found."
            },
            aoColumnDefs: [
               {
                   bSortable: false,
                   aTargets: [-1]
               }
            ],
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy', title: 'Campaigns', exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6] } },
                { extend: 'csv', title: 'Campaigns', exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6] } },
                { extend: 'excel', title: 'Campaigns', exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6] } },
                { extend: 'pdf', title: 'Campaigns', exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6] } },

                {
                    extend: 'print',
                    exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6] },
                    title: 'Campaigns',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],
            "drawCallback": function (settings) {
                $(".spiner-example").hide();
            },
            "fnInitComplete": function () { $(".spiner-example").hide(); }	// Hide processingDiv when loading table is complete
        });
    }
</script>