@model EFMVC.Web.ViewModels.CampaignProfileMobileFormModel

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content" id="mobilediv">
                <div class="alert alert-success alert-dismissable" id="dvmobilesuc" style="display:none;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span id="cbudsuceess">Record updated successfully</span>
                </div>


                <div class="alert alert-danger alert-dismissable" id="dvmobilerror" style="display:none;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span id="cmobilerrror"></span>
                </div>
                @using (Ajax.BeginForm("SaveMobileInfo", "Dashboard",
null,
new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, OnSuccess = "getresultmobile", OnBegin = "progressbar" },
new { @class = "form-horizontal" }))
                {
                    @*@Html.HiddenFor(model => model.CampaignProfileMobileId)*@
                    @Html.HiddenFor(model => model.CampaignProfileId)
                    <div class="form-group">
                        <div class="row">
                            <button class="btn btn-sm btn-blue" type="button" id="selectallmobile">Select All</button>
                            <button class="btn btn-sm btn-blue" type="button" id="deselectallmobile">Deselect All</button>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.ContractTypeQuestion)</h3>
                            <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.SpendQuestion)</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                <ul class="ProfileMappingUl">
                                    @Html.EditorFor(model => model.ContractTypeQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                </ul>

                            </div>
                            <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                <ul class="ProfileMappingUl">
                                    @Html.EditorFor(model => model.SpendQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-1">
                            <button class="btn btn-blue" type="submit">Update</button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var progressbar = function (data) {
        $(".spiner-example").show();
    };
    var getresultmobile = function (data) {
        $(".spiner-example").hide();
        if (data == "success") {
            $("#dvmobilesuc").show();
            $("#dvmobilerror").hide();
        }
        else {
            if (data == "notauthorise") {
                window.location.href = '@Url.Action("Index","Landing")';
            }
            $("#cmobilerrror").html(data);
            $("#dvmobilesuc").hide();
            $("#dvmobilerror").show();
        }
    };
</script>