@model EFMVC.Web.ViewModels.CampaignProfileFormModel
<div class="row" id="smsInfo">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>SMS and email</h5>

            </div>
            <div class="ibox-content">
                @if (TempData["commusuccess"] != null)
                {
                    <div class="alert alert-success alert-dismissable" id="dvcomminfosuc">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <span id="cbudsuceess">@TempData["commusuccess"]</span>
                    </div>
                }
                @if (TempData["commuerror"] != null)
                {
                    <div class="alert alert-danger alert-dismissable" id="dvcomminfoerror">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <span id="ccommerrror">@TempData["commuerror"]</span>
                    </div>
                }
                @using (Html.BeginForm("UpdateCommunicationInfo", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email From Address</label>

                        <div class="col-lg-9">
                            @Html.HiddenFor(Model => Model.CampaignProfileId)
                            @Html.HiddenFor(Model => Model.ClientId)
                            @Html.HiddenFor(Model => Model.CampaignName)
                            @Html.HiddenFor(Model => Model.CampaignDescription)
                            @Html.TextBoxFor(Model => Model.EmailSenderAddress, new { @class = "form-control trimmed" })
                            @Html.ValidationMessageFor(Model => Model.EmailSenderAddress, null, new { @class = "btn-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email Subject</label>

                        <div class="col-lg-9">
                            @Html.TextBoxFor(Model => Model.EmailSubject, new { @class = "form-control trimmed" })
                            @Html.ValidationMessageFor(Model => Model.EmailSubject, null, new { @class = "btn-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email Body Text</label>

                        <div class="col-lg-9">
                            @Html.TextAreaFor(Model => Model.EmailBody, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.EmailBody, null, new { @class = "btn-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Upload HTML Email</label>

                        <div class="col-lg-6">
                            <div class="btn-group">
                                <label title="Upload image file" class="btn btn-gray">
                                    <input type="file" name="emailfile" id="inputImage" class="hide" onchange="get_filename(this);">
                                    Upload file
                                </label>
                                @if (!String.IsNullOrEmpty(ViewData["emailfilelocation"].ToString()))
                                {
                                    <div>
                                        <a href='@ViewData["emailfilelocation"]' target="_blank">View File</a>

                                    </div>
                                }

                            </div>
                            <label id="filename"></label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">SMS Originator</label>

                        <div class="col-lg-9">
                            @Html.TextBoxFor(Model => Model.SmsOriginator, new { @class = "form-control trimmed" })
                            @Html.ValidationMessageFor(Model => Model.SmsOriginator, null, new { @class = "btn-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">SMS Text</label>

                        <div class="col-lg-9">
                            @Html.TextBoxFor(Model => Model.SmsBody, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.SmsBody, null, new { @class = "btn-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Upload SMS Coupon/Image</label>

                        <div class="col-lg-6">
                            <div class="btn-group">
                                <label title="Upload image file" class="btn btn-gray">
                                    <input type="file" name="smsfile" id="inputSMS" class="hide" onchange="get_filecouponname(this);">
                                    Upload file
                                </label>
                                @if (!String.IsNullOrEmpty(ViewData["smsfilelocation"].ToString()))
                                {
                                    <div>
                                        <a href='@ViewData["smsfilelocation"]' target="_blank">View File</a>

                                    </div>
                                }
                            </div>
                            <label id="filecouponname"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-1">
                            <button class="btn btn-blue" type="submit" id="btnupdate">Update</button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
    var getresultsms = function (data) {
        if (data == "success") {
            $("#dvcomminfosuc").show();
            $("#dvcomminfoerror").hide();
        }
        else
        {
            if (data == "notauthorise") {
                window.location.href = '@Url.Action("Index","Landing")';
            }
            $("#ccommerrror").html(data);
            $("#dvcomminfosuc").hide();
            $("#dvcomminfoerror").show();
        }
    };
        html = $('#emailbody').val();
        // this is the html with tags;
        function stripHTML(text) {
            var regex = /(<([^>]+)>)/ig;
            return text.replace(regex, "");
        }
        var no_tags = stripHTML(html);
        // no_tags contains the html without tags;
        $('#emailbody').val(no_tags);
    </script>
}
