@model EFMVC.Web.ViewModels.CampaignProfileAdvertFormModel
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            @*<div class="ibox-title">
                    <h5>Advert</h5>

                </div>*@
            <div class="ibox-content" id="advertsdiv">
                <div class="alert alert-success alert-dismissable" id="dvadvertsuc" style="display:none;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span id="cbudsuceess">Record updated successfully</span>
                </div>


                <div class="alert alert-danger alert-dismissable" id="dvadverterror" style="display:none;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span id="cadverterrror"></span>
                </div>
                @using (Ajax.BeginForm("SaveAdvertsWizard", "Dashboard",
null,
new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, OnSuccess = "getresultadvertprofile", OnBegin = "progressbar" },
new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.CampaignProfileAdvertsId)
                    @Html.HiddenFor(model => model.CampaignProfileId)
                    <div class="form-group">
                        <div class="row">
                            <button class="btn btn-sm btn-blue" type="button" id="selectalladvert">Select All</button>
                            <button class="btn btn-sm btn-blue" type="button" id="deselectalladvert">Deselect All</button>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            @if (Model.FoodQuestion.Count() > 0)
                            {
                                if (Model.Food == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.FoodQuestion)</h3>
                                }
                            }
                            @if (Model.SweetSaltySnacksQuestion.Count() > 0)
                            {
                                if (Model.SweetsSnacks == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.SweetSaltySnacksQuestion)</h3>
                                }
                            }
                            @if (Model.AlcoholicDrinksQuestion.Count() > 0)
                            {
                                if (Model.AlcoholicDrinks == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.AlcoholicDrinksQuestion)</h3>
                                }
                            }
                        </div>
                        <div class="row">
                            @if (Model.FoodQuestion.Count() > 0)
                            {
                                if (Model.Food == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.FoodQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.SweetSaltySnacksQuestion.Count() > 0)
                            {
                                if (Model.SweetsSnacks == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.SweetSaltySnacksQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.AlcoholicDrinksQuestion.Count() > 0)
                            {
                                if (Model.AlcoholicDrinks == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.AlcoholicDrinksQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row" style="padding-top:15px;">
                            @if (Model.NonAlcoholicDrinksQuestion.Count() > 0)
                            {
                                if (Model.NonAlcoholicDrinks == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.NonAlcoholicDrinksQuestion)</h3>
                                }
                            }
                            @if (Model.HouseholdproductsQuestion.Count() > 0)
                            {
                                if (Model.HouseholdAppliancesProducts == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.HouseholdproductsQuestion)</h3>
                                }
                            }
                            @if (Model.ToiletriesCosmeticsQuestion.Count() > 0)
                            {
                                if (Model.ToiletriesCosmetics == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.ToiletriesCosmeticsQuestion)</h3>
                                }
                            }
                        </div>
                        <div class="row">
                            @if (Model.NonAlcoholicDrinksQuestion.Count() > 0)
                            {
                                if (Model.NonAlcoholicDrinks == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.NonAlcoholicDrinksQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.HouseholdproductsQuestion.Count() > 0)
                            {
                                if (Model.HouseholdAppliancesProducts == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.HouseholdproductsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.ToiletriesCosmeticsQuestion.Count() > 0)
                            {
                                if (Model.ToiletriesCosmetics == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.ToiletriesCosmeticsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row" style="padding-top:15px;">
                            @if (Model.PharmaceuticalChemistsProductsQuestion.Count() > 0)
                            {
                                if (Model.PharmaceuticalChemistsProducts == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.PharmaceuticalChemistsProductsQuestion)</h3>
                                }
                            }
                            @if (Model.TobaccoProductsQuestion.Count() > 0)
                            {
                                if (Model.TobaccoProducts == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.TobaccoProductsQuestion)</h3>
                                }
                            }
                            @if (Model.PetsPetFoodQuestion.Count() > 0)
                            {
                                if (Model.Pets == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.PetsPetFoodQuestion)</h3>
                                }
                            }
                        </div>
                        <div class="row">
                            @if (Model.PharmaceuticalChemistsProductsQuestion.Count() > 0)
                            {
                                if (Model.PharmaceuticalChemistsProducts == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.PharmaceuticalChemistsProductsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.TobaccoProductsQuestion.Count() > 0)
                            {
                                if (Model.TobaccoProducts == true)
                                {

                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.TobaccoProductsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.PetsPetFoodQuestion.Count() > 0)
                            {
                                if (Model.Pets == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.PetsPetFoodQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row" style="padding-top:15px;">
                            @if (Model.ShoppingRetailClothingQuestion.Count() > 0)
                            {
                                if (Model.ClothingFashion == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.ShoppingRetailClothingQuestion)</h3>
                                }
                            }
                            @if (Model.DIYGardeningQuestion.Count() > 0)
                            {
                                if (Model.DIYGardening == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.DIYGardeningQuestion)</h3>
                                }
                            }
                            @if (Model.ElectronicsOtherPersonalItemsQuestion.Count() > 0)
                            {
                                if (Model.ElectronicsOtherPersonalItems == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.ElectronicsOtherPersonalItemsQuestion)</h3>
                                }
                            }
                        </div>
                        <div class="row">
                            @if (Model.ShoppingRetailClothingQuestion.Count() > 0)
                            {
                                if (Model.ClothingFashion == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.ShoppingRetailClothingQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.DIYGardeningQuestion.Count() > 0)
                            {
                                if (Model.DIYGardening == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.DIYGardeningQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.ElectronicsOtherPersonalItemsQuestion.Count() > 0)
                            {
                                if (Model.ElectronicsOtherPersonalItems == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.ElectronicsOtherPersonalItemsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                        </div>
                        <div class="row" style="padding-top:15px;">
                            @if (Model.CommunicationsInternetQuestion.Count() > 0)
                            {
                                if (Model.CommunicationsInternetTelecom == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.CommunicationsInternetQuestion)</h3>
                                }
                            }
                            @if (Model.FinancialServicesQuestion.Count() > 0)
                            {
                                if (Model.FinancialServices == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.FinancialServicesQuestion)</h3>
                                }
                            }
                            @if (Model.HolidaysTravelQuestion.Count() > 0)
                            {
                                if (Model.HolidaysTravelTourism == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.HolidaysTravelQuestion)</h3>
                                }
                            }
                        </div>
                        <div class="row">
                            @if (Model.CommunicationsInternetQuestion.Count() > 0)
                            {
                                if (Model.CommunicationsInternetTelecom == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.CommunicationsInternetQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.FinancialServicesQuestion.Count() > 0)
                            {
                                if (Model.FinancialServices == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.FinancialServicesQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.HolidaysTravelQuestion.Count() > 0)
                            {
                                if (Model.HolidaysTravelTourism == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.HolidaysTravelQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                        </div>
                        <div class="row" style="padding-top:15px;">
                            @if (Model.SportsLeisureQuestion.Count() > 0)
                            {
                                if (Model.SportsLeisure == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.SportsLeisureQuestion)</h3>
                                }
                            }
                            @if (Model.MotoringQuestion.Count() > 0)
                            {
                                if (Model.MotoringAutomotive == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.MotoringQuestion)</h3>
                                }
                            }
                            @if (Model.NewspapersQuestion.Count() > 0)
                            {
                                if (Model.NewspapersMagazines == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.NewspapersQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.SportsLeisureQuestion.Count() > 0)
                            {
                                if (Model.SportsLeisure == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.SportsLeisureQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.MotoringQuestion.Count() > 0)
                            {
                                if (Model.MotoringAutomotive == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.MotoringQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.NewspapersQuestion.Count() > 0)
                            {
                                if (Model.NewspapersMagazines == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.NewspapersQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            </div>
                        <div class="row" style="padding-top:15px;">
                            @if (Model.TVQuestion.Count() > 0)
                            {
                                if (Model.TvVideoRadio == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.TVQuestion)</h3>
                                }
                            }
                            @if (Model.CinemaQuestion.Count() > 0)
                            {
                                if (Model.Cinema == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.CinemaQuestion)</h3>
                                }
                            }
                            @if (Model.SocialNetworkingQuestion.Count() > 0)
                            {
                                if (Model.SocialNetworking == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.SocialNetworkingQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.TVQuestion.Count() > 0)
                            {
                                if (Model.TvVideoRadio == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.TVQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.CinemaQuestion.Count() > 0)
                            {
                                if (Model.Cinema == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.CinemaQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.SocialNetworkingQuestion.Count() > 0)
                            {
                                if (Model.SocialNetworking == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.SocialNetworkingQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            </div>
                        <div class="row" style="padding-top:15px;">
                            @if (Model.ShoppingQuestion.Count() > 0)
                            {
                                if (Model.Shopping == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.ShoppingQuestion)</h3>
                                }
                            }
                            @if (Model.FitnessQuestion.Count() > 0)
                            {
                                if (Model.Fitness == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.FitnessQuestion)</h3>
                                }
                            }
                            @if (Model.EnvironmentQuestion.Count() > 0)
                            {
                                if (Model.Environment == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.EnvironmentQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.ShoppingQuestion.Count() > 0)
                            {
                                if (Model.Shopping == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.ShoppingQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.FitnessQuestion.Count() > 0)
                            {
                                if (Model.Fitness == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.FitnessQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.EnvironmentQuestion.Count() > 0)
                            {
                                if (Model.Environment == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.EnvironmentQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            </div>

                        <div class="row" style="padding-top:15px;">
                            @if (Model.GoingOutQuestion.Count() > 0)
                            {
                                if (Model.GoingOutEntertainment == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.GoingOutQuestion)</h3>
                                }
                            }
                            @if (Model.ReligionQuestion.Count() > 0)
                            {
                                if (Model.Religion == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.ReligionQuestion)</h3>
                                }
                            }
                            @if (Model.MusicQuestion.Count() > 0)
                            {
                                if (Model.Music == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.MusicQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.GoingOutQuestion.Count() > 0)
                            {
                                if (Model.GoingOutEntertainment == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.GoingOutQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.ReligionQuestion.Count() > 0)
                            {
                                if (Model.Religion == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.ReligionQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                }
                            }
                            @if (Model.MusicQuestion.Count() > 0)
                            {
                                if (Model.Music == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.MusicQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            </div>

                        <div class="row" style="padding-top:15px;">
                            @if (Model.BusinessOrOpportunitiesQuestion.Count() > 0)
                            {
                                if (Model.BusinessOpportunities == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.BusinessOrOpportunitiesQuestion)</h3>
                                }
                            }
                            @if (Model.GamblingQuestion.Count() > 0)
                            {
                                if (Model.Over18Gambling == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.GamblingQuestion)</h3>
                                }
                            }
                            @if (Model.RestaurantsQuestion.Count() > 0)
                            {
                                if (Model.Restaurants == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.RestaurantsQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.BusinessOrOpportunitiesQuestion.Count() > 0)
                            {
                                if (Model.BusinessOpportunities == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.BusinessOrOpportunitiesQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.GamblingQuestion.Count() > 0)
                            {
                                if (Model.Over18Gambling == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.GamblingQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.RestaurantsQuestion.Count() > 0)
                            {
                                if (Model.Restaurants == true)
                                {

                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.RestaurantsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }

                            </div>


                        <div class="row" style="padding-top:15px;">
                            @if (Model.InsuranceQuestion.Count() > 0)
                            {
                                if (Model.Insurance == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.InsuranceQuestion)</h3>
                                }
                            }
                            @if (Model.FurnitureQuestion.Count() > 0)
                            {
                                if (Model.Furniture == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.FurnitureQuestion)</h3>
                                }
                            }
                            @if (Model.InformationTechnologyQuestion.Count() > 0)
                            {
                                if (Model.Informationtechnology == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.InformationTechnologyQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.InsuranceQuestion.Count() > 0)
                            {
                                if (Model.Insurance == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.InsuranceQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.FurnitureQuestion.Count() > 0)
                            {
                                if (Model.Furniture == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.FurnitureQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.InformationTechnologyQuestion.Count() > 0)
                            {
                                if (Model.Informationtechnology == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.InformationTechnologyQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            </div>

                        <div class="row" style="padding-top:15px;">
                            @if (Model.EnergyQuestion.Count() > 0)
                            {
                                if (Model.Energy == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.EnergyQuestion)</h3>
                                }
                            }
                            @if (Model.SupermarketsQuestion.Count() > 0)
                            {
                                if (Model.Supermarkets == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.SupermarketsQuestion)</h3>
                                }
                            }
                            @if (Model.HealthcareQuestion.Count() > 0)
                            {
                                if (Model.Healthcare == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.HealthcareQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.EnergyQuestion.Count() > 0)
                            {
                                if (Model.Energy == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.EnergyQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.SupermarketsQuestion.Count() > 0)
                            {
                                if (Model.Supermarkets == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.SupermarketsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.HealthcareQuestion.Count() > 0)
                            {
                                if (Model.Healthcare == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.HealthcareQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            </div>


                        <div class="row" style="padding-top:15px;">
                            @if (Model.JobsAndEducationQuestion.Count() > 0)
                            {
                                if (Model.JobsandEducation == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.JobsAndEducationQuestion)</h3>
                                }
                            }
                            @if (Model.GiftsQuestion.Count() > 0)
                            {
                                if (Model.Gifts == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.GiftsQuestion)</h3>
                                }
                            }
                            @if (Model.AdvocacyOrLegalQuestion.Count() > 0)
                            {
                                if (Model.AdvocacyLegal == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.AdvocacyOrLegalQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.JobsAndEducationQuestion.Count() > 0)
                            {
                                if (Model.JobsandEducation == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.JobsAndEducationQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.GiftsQuestion.Count() > 0)
                            {
                                if (Model.Gifts == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.GiftsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.AdvocacyOrLegalQuestion.Count() > 0)
                            {
                                if (Model.AdvocacyLegal == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.AdvocacyOrLegalQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            </div>


                        <div class="row" style="padding-top:15px;">
                            @if (Model.DatingAndPersonalQuestion.Count() > 0)
                            {
                                if (Model.DatingPersonal == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.DatingAndPersonalQuestion)</h3>
                                }
                            }
                            @if (Model.RealEstateQuestion.Count() > 0)
                            {
                                if (Model.RealEstateProperty == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.RealEstateQuestion)</h3>
                                }
                            }
                            @if (Model.GamesQuestion.Count() > 0)
                            {
                                if (Model.Games == true)
                                {
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.GamesQuestion)</h3>
                                }
                            }
                            </div>
                        <div class="row">
                            @if (Model.DatingAndPersonalQuestion.Count() > 0)
                            {
                                if (Model.DatingPersonal == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.DatingAndPersonalQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.RealEstateQuestion.Count() > 0)
                            {
                                if (Model.RealEstateProperty == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.RealEstateQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            @if (Model.GamesQuestion.Count() > 0)
                            {
                                if (Model.Games == true)
                                {
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.GamesQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>

                                    </div>
                                }
                            }
                            </div>

                        @*@if (Model.SkizaProfile == true)
                            {
                                <div class="row" style="padding-top:15px;">
                                    <h3 class="col-lg-4 col-lg-wth">
                                        Skiza Profile
                                    </h3>
                                </div>
                                <div class="row" style="padding-top:15px;">
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.HustlersQuestion)</h3>
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.YouthQuestion)</h3>
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.DiscerningProfessionalsQuestion)</h3>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.HustlersQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.YouthQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>

                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.DiscerningProfessionalsQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                </div>

                                <div class="row" style="padding-top:15px;">
                                    <h3 class="col-lg-4 col-lg-wth">@Html.LabelFor(model => model.MassQuestion)</h3>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-lg-wth" style="line-height:28px;">
                                        <ul>
                                            @Html.EditorFor(model => model.MassQuestion, new { @class = "i-checks", @style = "padding-left:10px;" })
                                        </ul>
                                    </div>
                                </div>
                            }*@
                    </div>
                    <div class="form-group">
                        <div class="col-lg-1">
                            <button class="btn btn-blue" type="submit">Update</button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var progressbar = function (data) {
        $(".spiner-example").show();
    };
    var getresultadvertprofile = function (data) {
        $(".spiner-example").hide();
        if (data == "success") {
            $("#dvadvertsuc").show();
            $("#dvadverterror").hide();
        }
        else {
            if (data == "notauthorise") {
                window.location.href = '@Url.Action("Index","Landing")';
            }
            $("#cadverterrror").html(data);
            $("#dvadvertsuc").hide();
            $("#dvadverterror").show();
        }
    };
</script>