@model EFMVC.Web.ViewModels.ForgotPassword
@{
                /**/

                ViewBag.Title = "ForgotPassword";
                Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>adtones | Forgot Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style_campaign.css" rel="stylesheet">

    @*Add 08-03-2019*@
    <link href="~/Content/Common.css" rel="stylesheet" />
    <style>
        .form-control-box {
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #e5e6e7;
            border-radius: 1px;
            color: inherit;
            display: inline-block;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 95%;
            font-size: 14px;
        }
    </style>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            @*<div>

                    <h1 class="logo-name">ad+</h1>

                </div>*@
            <h3>Forgot your password?.</h3>
            <p>Enter your email.</p>
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    @TempData["error"]
                </div>
            }
            @using (Html.BeginForm("ForgotPassword", "AdvertRegister", new { @class = "m-t" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control-box", @placeholder = "Email" })
                    <label class="lbldanger">*</label>
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "btn-danger" })
                </div>
                <input type="submit" class="btn btn-blue block full-width m-b" value="Submit" />
            }

            <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index", "Landing",new {id = "true" })">Back to login</a>

            <p class="m-t"> <small id="copyright" style="font-family: sans-serif;">@*adtones &copy; @DateTime.Now.Year*@</small> </p>
        </div>
    </div>

</body>
@Scripts.Render("~/bundles/jquery")
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
@Scripts.Render("~/plugins/unobtrusive")
@Scripts.Render("~/plugins/validate")
@Scripts.Render("~/bundles/validateunobtrusive")
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetCopyRight", "Landing")',
            success: function (data) {
                $("#copyright").text(data);
            }
        });
    });
</script>