@model EFMVC.Web.ViewModels.UserFormModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="large-8 columns large-centered">

        <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

        <div class="row">
            <div class="large-12 columns">

                <h5>Create a New Account</h5>

                <div class="clr10"></div>

                Use the form below to create a new account.

                <div class="clr10"></div>

                Passwords are required to be a minimum of 6 characters in length.

                <div class="clr20"></div>

            </div>
        </div>

        @using (Html.BeginForm((string)ViewBag.FormAction, "Account"))
        {
            <div class="row">
                <div class="large-12 columns">
                    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.Email)

                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.FirstName)

                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.LastName)

                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.Password)

                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.ConfirmPassword)

                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.MSISDN)

                    @Html.TextBoxFor(m => m.MSISDN)
                    @Html.ValidationMessageFor(m => m.MSISDN)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <p>
                        <input type="submit" value="Register" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>