@model EFMVC.Web.ViewModels.UserFormModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>adtones | Register</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style_campaign.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        .form-control-box {
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #e5e6e7;
            border-radius: 1px;
            color: inherit;
            display: inline-block;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 95%;
            font-size: 14px;
        }

        .textbox {
            width: 95%;
            margin-left: 3px;
        }

        .btn-full-width {
            width: 96% !important;
        }
    </style>

    @*Add 08-03-2019*@
    <link href="~/Content/Common.css" rel="stylesheet" />

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div class="preloader" style="display:none"></div>
        <div>
            @*<div>

                    <h1 class="logo-name">ad+</h1>

                </div>*@
            <h3>Adtones Campaign Manager Registration</h3>
            @*<p>Create account to see it in action.</p>*@
            @using (Html.BeginForm("RegisterAdvertiser", "AdvertRegister", new { @class = "m-t" }))
            {
                if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissable">
                        @TempData["Error"]
                    </div>
                }
                <div class="row">
                    <div class="large-12 columns">
                        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
                    </div>
                </div>

                <div class="form-group">

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control-box trimmed", @placeholder = "Email" })
                    <label class="lbldanger">*</label>
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "btn-danger" })
                </div>


                <div class="form-group">

                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control-box trimmed", @placeholder = "First Name" })
                    <label class="lbldanger">*</label>
                    @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "btn-danger" })
                </div>


                <div class="form-group">

                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control-box trimmed", @placeholder = "Last Name" })
                    <label class="lbldanger">*</label>
                    @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "btn-danger" })

                </div>
                <div class="form-group">

                    @Html.TextBoxFor(m => m.Organisation, new { @class = "form-control textbox trimmed", @placeholder = "Organisation" })
                    @Html.ValidationMessageFor(m => m.Organisation, null, new { @class = "btn-danger" })

                </div>

                <div class="form-group">

                    @Html.DropDownListFor(m => m.OrganisationTypeId, ViewBag.OrgType as IEnumerable<SelectListItem>, "--Select Organisation Type--", new { @class = "form-control textbox input-s-sm" })
                    @*<span style="display:none" class="btn-danger" id="OrgTypeError">The Organisation type field is required.</span>*@
                </div>


                <div class="form-group">

                    @*@Html.DropDownListFor(m => m.CountryCode, Model.CountryList, new { @class = "form-control textbox input-s-sm" })*@
                    @Html.DropDownListFor(m => m.CountryCode, Model.CountryList, new { @class = "form-control-box" })
                    <label class="lbldanger">*</label>
                    @Html.ValidationMessageFor(m => m.CountryCode, null, new { @class = "btn-danger" })


                </div>


                <div class="form-group">

                    @Html.TextBoxFor(m => m.MSISDN, new { @class = "form-control-box trimmed", @placeholder = "Contact number", @onkeypress = "return isNumber(event)" })@*, @maxlength = "10"*@
                    <label class="lbldanger">*</label>
                    <span id="msisdnmsg" class="btn-danger field-validation-error"></span>
                    @*@Html.ValidationMessageFor(m => m.MSISDN, null, new { @class = "btn-danger" })*@

                </div>
                <div class="form-group">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control-box trimmed", @placeholder = "Password" })
                    <label class="lbldanger">*</label>
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "btn-danger" })
                </div>

                <div class="form-group">
                    <div class="large-12 columns">


                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control textbox trimmed", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "btn-danger" })
                    </div>
                </div>

                <input type="submit" class="btn btn-blue block btn-full-width m-b" value="Register" />
            }
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block btn-full-width" href="@Url.Action("Index", "Landing",new {id = "true" })">Login</a>

            <p class="m-t"> <small id="copyright" style="font-family: sans-serif;">@*adtones &copy; @DateTime.Now.Year*@</small> </p>
        </div>
    </div>

</body>
@Scripts.Render("~/bundles/jquery")
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
@Scripts.Render("~/plugins/unobtrusive")
@Scripts.Render("~/plugins/validate")
@Scripts.Render("~/bundles/validateunobtrusive")
</html>
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetCopyRight", "Landing")',
            success: function (data) {
                $("#copyright").text(data);
            }
        });
    });

    $("#MSISDN").change(function () {
        var countryId = $("#CountryCode").val();
        var msisdn = $("#MSISDN").val();
        if (countryId == "10") {//9
            if (msisdn == "") {
                $("#msisdnmsg")[0].innerHTML = "The Contact number field is required to be only 9 characters."; /*The Contact number field is required.*/
                return false;
            }
            else if (msisdn.length < 9 || msisdn.length > 9) {
                $("#msisdnmsg")[0].innerHTML = "The Contact number field can only be 9 characters."; /*The Contact number field cannot be more than 9 characters.*/
                return false;
            }
            else {
                $("#msisdnmsg")[0].innerHTML = "";
            }
        }
        else {
            if (msisdn == "") {
                $("#msisdnmsg")[0].innerHTML = "The Contact number field is required to be only 10 characters.";
                return false;
            }
            else if (msisdn.length < 10 || msisdn.length > 10) {
                $("#msisdnmsg")[0].innerHTML = "The Contact number field can only be 10 characters.";
                return false;
            }
            else {
                $("#msisdnmsg")[0].innerHTML = "";
            }
        }
    });

    $("form").submit(function () {
        var error = 0;
        var orgValue = $("#Organisation").val();

        var email = $("#Email").val();
        var fname = $("#FirstName").val();
        var lname = $("#LastName").val();
        var pass = $("#Password").val();
        var confirmPass = $("#ConfirmPassword").val();

        var countryId = $("#CountryCode").val();
        var msisdn = $("#MSISDN").val();

        $(".preloader").show();

        if (orgValue != "") {
            var typeValue = $("#OrganisationTypeId").val();
            if (typeValue == "") {
                $("#OrgTypeError").show();
                error = 1;
            }
        }
        if (email == "") {
            error = 1;
        }
        if (fname == "") {
            error = 1;
        }
        if (lname == "") {
            error = 1;
        }
        if (pass == "") {
            error = 1;
        }
        if (confirmPass == "") {
            error = 1;
        }
        if (pass != confirmPass) {
            error = 1;
        }

        if (msisdn == "") {
            if (countryId == "10") {//9
                $("#msisdnmsg")[0].innerHTML = "The Contact number field is required to be only 9 characters.";
                error = 1;
            }
            else {
                $("#msisdnmsg")[0].innerHTML = "The Contact number field is required to be only 10 characters.";
                error = 1;
            }
        }
        else if (countryId == "10") {//9
            if (msisdn.length < 9 || msisdn.length > 9) {
                $("#msisdnmsg")[0].innerHTML = "The Contact number field can only be 9 characters.";
                error = 1;
            }
            else {
                $("#msisdnmsg")[0].innerHTML = "";
            }
        }
        else {
            if (msisdn.length < 10 || msisdn.length > 10) {
                $("#msisdnmsg")[0].innerHTML = "The Contact number field can only be 10 characters.";
                error = 1;
            }
            else {
                $("#msisdnmsg")[0].innerHTML = "";
            }
        }

        if (error == 1) {
            $(".preloader").hide();
            return false;
        }
        else {
            $(".preloader").hide();
            $(this).submit();
        }

    });

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        trimmed();
    });

    function trimmed() {
        $(".trimmed").on('blur', function () {
            // the following function will be executed every half second
            if ($(this).val() != null) {
                $(this).val($(this).val().toString().trim());
            }
            var s = $(this).val().replace(/\</g, '');
            s = s.replace(/\>/g, '');
            $(this).val(s);
        });
    }

</script>