<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>adtones | @ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/campaigncss")
    @Styles.Render("~/font-awesome/css")

    @*Add 12-03-2019*@
    <link href="~/Content/Common.css" rel="stylesheet" />

</head>
<body class="top-navigation">

    <!-- Skin configuration box -->
    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper">

        <!-- Navigation -->
        @*@Html.Partial("_Navigation")*@

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @*@Html.Partial("_RightSidebar")*@

    </div>
    <!-- End wrapper-->
    <!-- Section for main scripts render -->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-v1.12.0.js"></script>
    @Scripts.Render("~/bundles/jquery-migrate")

    @*<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>*@

    @Scripts.Render("~/plugins/unobtrusive")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/bundles/validateunobtrusive")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    <!-- Skin config script - only for demo purpose-->
    @*@Scripts.Render("~/bundles/skinConfig")*@ @*// datepicker and dropdown new changes - 17-05-2019*@

    <!-- Commonsss Script-->
    @Scripts.Render("~/Scripts/Commonadmin")

    <link href="~/Content/timeout-dialog.css" rel="stylesheet" />
    <script src="~/Scripts/timeout-dialog.js"></script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

</body>

</html>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetCopyRight", "Login", new { area = "OperatorAdmin" })',
            success: function (data) {
                $("#copyright").text(data);
            }
        });
    });

$(function () {
        var fnTimeOut = function () {
            jQuery.timeoutDialog.setupDialogTimer({
                timeout: 1200, // After every 1200 second(20 minutes)
                countdown: 20, // Count down start number(Second)
                logout_redirect_url: '@Url.Action("LogOff", "Login", new { area = "OperatorAdmin" })',
                keep_alive_url: '@Url.Action("Keepalive", "Login", new { area = "OperatorAdmin" })'
            });
            UpdateSessionTime();
        };
        fnTimeOut();
    });

    $(document).ajaxComplete(function () {
        jQuery.timeoutDialog.setupDialogTimer({
            timeout: 1200, // After every 1200 second(20 minutes)
            countdown: 20, // Count down start number(Second)
            logout_redirect_url: '@Url.Action("LogOff", "Login", new { area = "OperatorAdmin" })',
            keep_alive_url: '@Url.Action("Keepalive", "Login", new { area = "OperatorAdmin" })'
        });
    });

    function UpdateSessionTime() {
        $.get('@Url.Action("Keepalive", "Login", new { area = "OperatorAdmin" })', function (data) {
        });
    }
    multipleTabLogout();

</script>