@model EFMVC.Web.ViewModels.ProfileMatchInformationFormModel
@{
    ViewBag.Title = "UpdateProfileInfo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@*<div class="wrapper wrapper-content animated fadeIn">
    <div class="spiner-example loader" style="display:none;">
        <div class="sk-spinner sk-spinner-three-bounce">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
        </div>
    </div>
</div>*@

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Profile Information Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "ProfileMatchInformation",new {area="Admin" })">Profile Management</a>
            </li>
            <li class="active">
                <strong>@ViewBag.name</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Update Profile Information</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("UpdateProfileInfo", "ProfileMatchInformation", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @TempData["Error"]
                            </div>
                        }
                        @Html.HiddenFor(Model => Model.Id)
                        @Html.HiddenFor(Model => Model.CountryId)
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name <label class="lbldanger">*</label></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(Model => Model.ProfileName, new { @class = "form-control", @placeholder = "Profile Name", @readonly = "readonly" })
                                @Html.ValidationMessageFor(Model => Model.ProfileName, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Profile Types <label class="lbldanger">*</label></label>
                            <div class="col-lg-4">
                                @Html.DropDownListFor(Model => Model.ProfileType, ViewBag.profileType as IEnumerable<SelectListItem>, "--Select Profile Types--", new { @class = "form-control input-s-sm inline" })
                                @Html.ValidationMessageFor(Model => Model.ProfileType, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Country <label class="lbldanger">*</label></label>
                            <div class="col-lg-4">
                                @Html.DropDownListFor(Model => Model.CountryId, ViewBag.country as IEnumerable<SelectListItem>, "--Select Country--", new { @class = "form-control input-s-sm inline", @disabled = "disabled" })
                                @Html.ValidationMessageFor(Model => Model.CountryId, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">IsActive</label>
                            <div class="col-lg-4">
                                <div class="radio i-checks">
                                    <label>@Html.RadioButtonFor(model => model.IsActive, true) Yes</label> &nbsp;
                                    <label>@Html.RadioButtonFor(model => model.IsActive, false) No</label>
                                </div>
                                @Html.ValidationMessageFor(Model => Model.IsActive, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-blue" type="submit">Submit</button>
                                <button class="btn btn-sm btn-white" type="button" onclick="window.location.href='@Url.Action("Index","ProfileMatchInformation",new {area="Admin" })'">Cancel</button>
                            </div>
                        </div>
                    }
                    <div class="ibox-content" id="profilematchlabel">
                        @Html.Partial("_AddProfileMatchLabel")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">

        var profileType = '@Model.ProfileType';

        $(document).ready(function () {
            $('#ProfileType option[value="' + profileType + '"]').attr("selected", "selected");
            keypress();
            trimmed();
        });

        function keypress() {
            $(".profilelabel").keypress(function (event) {
                trimmed();
                var regex = new RegExp('^[a-zA-Z0-9 ]+$');
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        $(".profilelabel").change(function () {
            var thi$ = $(this);
            var profilelabel = thi$[0].parentNode.children[1].value;
            if (thi$.val() == "") {
                thi$[0].nextElementSibling.innerHTML = "Profile Label field is required.";
                thi$[0].nextElementSibling.style.color = "red";
            }
            else if (profilelabel.length > 100) {
                thi$[0].nextElementSibling.innerHTML = "Profile Label characters must be less than 100.";
                thi$[0].nextElementSibling.style.color = "red";
            }
            else {
                thi$[0].nextElementSibling.innerHTML = "";
            }
        });

        function validationprofilelabel() {
            //var profilelabel = $(".profilelabel")[0].parentNode.children[1].value;
            //var returnvalue;
            //if (profilelabel == "") {
            //    $(".profilelabel")[0].nextElementSibling.innerHTML = "Profile Label field is required.";
            //    $(".profilelabel")[0].nextElementSibling.style.color = "red";
            //    returnvalue = false;
            //}
            //else if (profilelabel.length > 100) {
            //    $(".profilelabel")[0].nextElementSibling.innerHTML = "Profile Label Must Less Than 100.";
            //    $(".profilelabel")[0].nextElementSibling.style.color = "red";
            //    returnvalue = false;
            //}
            //else {
            //    $(".profilelabel")[0].nextElementSibling.innerHTML = "";
            //}

            //if (returnvalue == false) {
            //    return false;
            //}
            //else {
            //    return true;
            //}

            var table = $(".dataTables-profilelabel > tbody");
            var i;
            var returnvalue;
            for (i = 0; i < table[0].children.length; i++) {
                var profilelabelname = table[0].children[i].children[0].children[1].value;
                if (profilelabelname == "") {
                    table[0].children[i].children[0].children[1].nextElementSibling.innerHTML = "Profile Label field is required.";
                    table[0].children[i].children[0].children[01].nextElementSibling.style.color = "red";
                    returnvalue = false;
                }
                else if (profilelabelname.length > 100) {
                    table[0].children[i].children[0].children[1].nextElementSibling.innerHTML = "Profile Label characters must be less than 100.";
                    table[0].children[i].children[0].children[1].nextElementSibling.style.color = "red";
                    returnvalue = false;
                }
                else {
                    table[0].children[i].children[0].children[1].nextElementSibling.innerHTML = "";
                }
            }

            if (returnvalue == false) {
                return false;
            }
            else {
                return true;
            }
        }

        function editProfileLabel(el) {
            var thi$ = $(el);
            thi$[0].parentNode.parentNode.children[0].children[0].style.display = 'none';
            thi$[0].parentNode.parentNode.children[0].children[1].style.display = 'inline';

            thi$[0].parentNode.children[0].style.display = 'none';
            thi$[0].parentNode.children[2].style.display = 'none';
            thi$[0].parentNode.children[1].style.display = 'inline';
            thi$[0].parentNode.children[3].style.display = 'inline';
        }

        function cancelProfileLabel(el) {
            var thi$ = $(el);
            $.ajax({
                type: "POST",
                url: '@Url.Action("CancelProfileLabel", "ProfileMatchInformation", new { area = "Admin" })',
                data: { },
                success: function (data) {
                    $("#profilematchlabel").html("");
                    $("#profilematchlabel").append(data);
                    $(".loader").hide();
                }
            });
            //thi$[0].parentNode.parentNode.children[0].children[0].style.display = 'inline';
            //thi$[0].parentNode.parentNode.children[0].children[1].style.display = 'none';
            //thi$[0].parentNode.children[0].style.display = 'inline';
            //thi$[0].parentNode.children[2].style.display = 'inline';
            //thi$[0].parentNode.children[1].style.display = 'none';
            //thi$[0].parentNode.children[3].style.display = 'none';
        }

        function updateProfileLabel(el) {
            $(".loader").show();
            var validation = validationprofilelabel();
            if (validation == true) {
                var thi$ = $(el);
                var profileLabel = thi$[0].parentNode.parentNode.children[0].children[1].value;
                var profileLabelId = thi$[0].parentNode.parentNode.children[0].children[3].value;
                if (profileLabelId != "") {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UpdateProfileLabel", "ProfileMatchInformation", new { area = "Admin" })',
                        data: { profileLabelId: profileLabelId, profileLabel: profileLabel },
                        success: function (data) {
                            if (data == "Fail") {
                                $("#profilelabelerror").html(data);
                                $('#profilelabelfoerror').css("display", "block");
                                //$("#profilelabelerror").hide();
                                $("#profilelabelfosuc").hide();
                            }
                            else if (data == "Exist")
                            {
                                profileLabel = profileLabel + " already exists."
                                $("#profilelabelerror").html(profileLabel);
                                $('#profilelabelfoerror').css("display", "block");
                                //$("#profilelabelerror").hide();
                                $("#profilelabelfosuc").hide();
                            }
                            else {
                                $("#profilematchlabel").html("");
                                $("#profilematchlabel").append(data);
                                var successmsg = "Profile Label " + profileLabel + " updated successfully.";
                                $("#profilelabelsuceess").html(successmsg);
                                $("#profilelabelfosuc").css("display", "block");
                                setTimeout(function () {
                                    $("#profilelabelfosuc").css("display", "none");
                                }, 3000);
                                $('#profilelabelfoerror').hide();
                                //$("#profilelabelerror").hide();
                                $(".loader").hide();
                                
                            }
                        }
                    });
                }
                else {
                    $(".loadere").hide();
                }
            }
            else {
                $(".loadere").hide();
            }
        }

        function deleteProfileLabel(el) {
            var r = confirm("This action will delete profile label information. Do you want to continue?");
            if (r == true) {
                var thi$ = $(el);
                var profileLabelId = thi$[0].parentNode.parentNode.children[0].children[3].value;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteProfileLabel", "ProfileMatchInformation", new { area = "Admin" })',
                    data: { profileLabelId: profileLabelId },
                    success: function (data) {
                        if (data == "Fail") {
                            $("#profilelabelerror").html(data);
                            $('#profilelabelfoerror').css("display", "block");
                            //$("#profilelabelerror").hide();
                            $("#profilelabelfosuc").hide();
                        }
                        else {
                            $("#profilematchlabel").html("");
                            $("#profilematchlabel").append(data);
                            $("#profilelabelerror").html("Record deleted successfully");
                            $('#profilelabelfoerror').css("display", "block");
                            //$("#profilelabelerror").hide();
                            $("#profilelabelfosuc").hide();
                            $(".loader").hide();

                        }
                    }
                });
            }
        }

        function addProfileLabel(el) {
            $(".loader").show();
            var validation = validationprofilelabel();
            if (validation == true) {
                var thi$ = $(el);
                var profileLabel = thi$[0].parentNode.parentNode.children[0].children[1].value;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddProfileLabel", "ProfileMatchInformation", new { area = "Admin" })',
                    data: { profileLabel: profileLabel },
                    success: function (data) {
                        if (data == "Fail") {
                            $("#profilelabelerror").html(data);
                            $('#profilelabelfoerror').css("display", "block");
                            //$("#profilelabelerror").hide();
                            $("#profilelabelfosuc").hide();
                        }
                        else if (data == "Exist") {
                            profileLabel = profileLabel + " already exists."
                            $("#profilelabelerror").html(profileLabel);
                            $('#profilelabelfoerror').css("display", "block");
                            //$("#profilelabelerror").hide();
                            $("#profilelabelfosuc").hide();
                        }
                        else {
                            $("#profilematchlabel").html("");
                            $("#profilematchlabel").append(data);
                            var successmsg = "Profile Label " + profileLabel + " added successfully.";
                            $("#profilelabelsuceess").html(successmsg);
                            $("#profilelabelfosuc").css("display", "block");
                            setTimeout(function () {
                                $("#profilelabelfosuc").css("display", "none");
                            }, 3000);
                            $('#profilelabelfoerror').hide();
                            //$("#profilelabelerror").hide();
                            $(".loader").hide();

                        }
                    }
                });
            }
            else {
                $(".loadere").hide();
            }
        }

        function cancelAddProfileLabel(el) {
            var thi$ = $(el);
            thi$[0].closest('tr').remove();
        }

        function addProfileLabelPanel(el) {
            var thi$ = $(el);
            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var currentdate = (('' + day).length < 2 ? '0' : '') + day + '/' +
                (('' + month).length < 2 ? '0' : '') + month + '/' +
                d.getFullYear();
            var Id = $('.dataTables-profilelabel tbody tr:last').attr('id');
            Id++;
            var addTR = '<tr class="gradeX" id="' + Id + '">' +
                '<td>' +
                '<label for="" style="display:none;"></label>' +
                '<input class="form-control profilelabel trimmed" data-val="true" data-val-length="The field ProfileLabel must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The ProfileLabel field is required." id="' + Id + '" name="profileMatchLabelFormModels[0].ProfileLabel" placeholder="Profile Label" type="text" value="">' +
                '<span id="profileerrormsg"></span>' +
                '</td>' +
                '<td>' +
                '<label class="control-label" for="">' + currentdate + '</label>' +
                //'<label for="">-</label></td>' +
                '<td>' +
                '<a class="btn btn-danger btn-xs" id="' + Id + '" onclick="addProfileLabel(this)">Add</a>&nbsp;' +
                '<a class="btn btn-danger btn-xs btncancel" id="' + Id + '" onclick="cancelAddProfileLabel(this)">Cancel</a>' +
                '</td>' +
                '</tr>';
            $(".dataTables-profilelabel").append(addTR);
            keypress();
        }

        //$("#btnaddprofilelabeltable").click(function () {
        //    var Id = $('.dataTables-profilelabel tbody tr:last').attr('id');
        //    Id++;
        //    var addTR = '<tr class="gradeX" id="' + Id + '">' +
        //        '<td>' +
        //        '<label for="" style="display:none;"></label>' +
        //        '<input class="form-control profilelabel" data-val="true" data-val-length="The field ProfileLabel must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The ProfileLabel field is required." id="' + Id + '" name="profileMatchLabelFormModels[0].ProfileLabel" placeholder="Profile Label" type="text" value="">' +
        //        '<span id="profileerrormsg"></span>' +
        //        //'<input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="profileMatchLabelFormModels_' + Id + '__Id" name="profileMatchLabelFormModels[0].Id" type="hidden" value="">' +
        //        '</td>' +
        //        '<td>' +
        //        '<label for="">-</label></td>' +
        //        '<td>' +
        //        '<a class="btn btn-danger btn-xs" id="' + Id + '" onclick="addProfileLabel(this)">Add</a>' +
        //        //'<a class="btn btn-danger btn-xs" id="' + Id + '" style="display:none;" onclick="updateProfileLabel(this)">Update</a>' +
        //        //'<a class="btn btn-danger btn-xs btnDelete" id="' + Id + '" onclick="deleteProfileLabel(this)">Delete</a>' +
        //        '<a class="btn btn-danger btn-xs btncancel" id="' + Id + '" onclick="cancelAddProfileLabel(this)">Cancel</a>' +
        //        '</td>' +
        //        '</tr>';
        //    $(".dataTables-profilelabel").append(addTR);
        //});

        $("#profilelabelcloseerror").click(function () {
            $("#profilelabelerror").html("");
            $('#profilelabelfoerror').css("display", "none");
        });

        $("#profilelabelclosesuccess").click(function () {
            $('#profilelabelfosuc').css("display", "none");
        });

        function trimmed() {
                $(".trimmed").on('blur', function () {
                // the following function will be executed every half second
                if ($(this).val() != null) {
                    $(this).val($(this).val().toString().trim());
                }
                var s = $(this).val().replace(/\</g, '');
                s = s.replace(/\>/g, '');
                $(this).val(s);
            });
        }

    </script>
}
