@model EFMVC.Web.ViewModels.ChangePasswordFormModel
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Change Password</h5>

        </div>
        <div class="ibox-content">
            <div class="alert alert-success alert-dismissable" id="dvpasswordinfosuc" style="display:none;">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span id="cbudsuceess">Password changed successfully.</span>
            </div>
            <div class="alert alert-danger alert-dismissable" id="dvdvpasswordinfoerror" style="display:none;">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span id="passwordinfoerrror"></span>
            </div>
            @using (Ajax.BeginForm("ChangePassword", "Account",
         null,
         new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, OnSuccess = "getresultpasswordinfo", OnBegin = "progressbar" },
         new { @class = "form-horizontal" }))
            {

                <div class="form-group">
                    <label class="col-lg-3 control-label">Current Password <label class="lbldanger">*</label></label>

                    <div class="col-lg-6">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control trimmed", @placeholder = "Current Password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "btn-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">New Password <label class="lbldanger">*</label></label>

                    <div class="col-lg-6">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control trimmed", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "btn-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Confirm New Password</label>

                    <div class="col-lg-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control trimmed", @placeholder = "Confirm New Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "btn-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button class="btn btn-sm btn-blue" type="submit">Update Password</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var progressbar = function (data) {
        $(".spiner-example").show();
    };
    var getresultpasswordinfo = function (data) {
        $(".spiner-example").hide();
        if (data == "success") {
            $("#dvpasswordinfosuc").show();
            $("#dvdvpasswordinfoerror").hide();
        }
        else {
            if (data == "notauthorise") {
                window.location.href = '@Url.Action("Index","Landing")';
            }
            $("#passwordinfoerrror").html(data);
            $("#dvpasswordinfosuc").hide();
            $("#dvdvpasswordinfoerror").show();
        }
    };
</script>