<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
                <div class="widget">
                    <h3 class="footer-title">About Adtones</h3><div class="textwidget">
                        <p>
                            Talk to your customers who want to hear from you.<br />
                            Increase your profits with no investment.<br />
                            Get much more from your mobile.
                        </p>
                        <p>Mobile audio marketing that&#8217;s good for everyone.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
                <div class="widget">
                    <h3 class="footer-title">Who we are</h3><div class="menu-footer-column-1-container">
                        <ul id="menu-footer-column-1" class="menu">
                            <li id="menu-item-544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-544"><a href="/">Home</a></li>
                            <li id="menu-item-542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-542"><a href="@Url.Action("Aboutus", "Landing")">About Us</a></li>
                            <li id="menu-item-543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-543"><a href="@Url.Action("Contact", "Landing")">Contact</a></li>
                            <li id="menu-item-789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-789"><a href="@Url.Action("CookiePolicy", "Landing")">Cookies</a></li>
                            <li id="menu-item-790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-790"><a href="@Url.Action("PrivacyPolicy", "Landing")">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
                <div class="widget">
                    <h3 class="footer-title">What we do</h3><div class="menu-footer-column-2-container">
                        <ul id="menu-footer-column-2" class="menu">
                            <li id="menu-item-547" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-120 current_page_item menu-item-547"><a href="@Url.Action("Operators", "Landing")" aria-current="page">Operators</a></li>
                            <li id="menu-item-546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a href="@Url.Action("Advertisers", "Landing")">Advertisers</a></li>
                            <li id="menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545"><a href="@Url.Action("Users", "Landing")">Users</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
                <div class="widget">
                    <h3 class="footer-title">Contact us</h3><div class="textwidget">
                        <p>
                            Adtones HQ<br />
                            35a South Street<br />
                            London W1K 2XF<br />
                            United Kingdom<br />
                            +44 333 444 2044<br />
                            hello@adtones.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="copyright">
    <div class="container text-center" id="copyrighttext"></div>
</div>