<header>
    <div class="container d-flex justify-content-between ">
        <a href="/"><img src="~/wp-includes/themes/adtones/assets/images/logo.png" id="logo" alt="" title="" /></a>
        <nav>
            <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="menu">
                    <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="@Url.Action("Advertisers", "Landing")">Advertisers</a></li>
                    <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-120 current_page_item menu-item-122"><a href="@Url.Action("Operators", "Landing")" aria-current="page">Operators</a></li>
                    <li id="menu-item-480" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-480"><a href="@Url.Action("Users", "Landing")">Users</a></li>
                    <li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="@Url.Action("Aboutus", "Landing")">About Us</a></li>
                    <li id="menu-item-87" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-87"><a href="#">Sign In/Sign Up</a></li>
                    <li id="menu-item-491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-491"><a href="@Url.Action("Contact", "Landing")">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>