<div id="responsive-menu-pro-container" class="slide-left">
    <div id="responsive-menu-pro-wrapper">
        <ul id="responsive-menu-pro" class="">
            <li id="responsive-menu-pro-item-127" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                <a href="@Url.Action("Advertisers", "Landing")" class="responsive-menu-pro-item-link">Advertisers</a>
            </li>
            <li id="responsive-menu-pro-item-122" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                <a href="@Url.Action("Operators", "Landing")" class="responsive-menu-pro-item-link">Operators</a>
            </li>
            <li id="responsive-menu-pro-item-480" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                <a href="@Url.Action("Users", "Landing")" class="responsive-menu-pro-item-link">Users</a>
            </li>
            <li id="responsive-menu-pro-item-244" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                <a href="@Url.Action("Aboutus", "Landing")" class="responsive-menu-pro-item-link">About Us</a>
            </li>
            <li id="responsive-menu-pro-item-87" class=" menu-item menu-item-type-custom menu-item-object-custom responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                <a href="#" class="responsive-menu-pro-item-link">Sign In/Sign Up</a>
            </li>
            <li id="responsive-menu-pro-item-491" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                <a href="@Url.Action("Contact", "Landing")" class="responsive-menu-pro-item-link">Contact</a>
            </li>
        </ul>
    </div>
</div>
