@using EFMVC.Web.ViewModels;
@model IEnumerable<UserProfileAdvertsReceivedFromModel>
<div class="row">
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @TempData["success"]
        </div>
    }
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-accountOverview">
        <thead>
            <tr>
                <th>Advert Ref</th>
                <th>Advert Name</th>
                <th>Brand</th>
                <th>Date Played</th>
                <th>Time Played</th>
                <th>Credits Received</th>
                <th>Advert Played</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
            foreach (UserProfileAdvertsReceivedFromModel result in Model)
            {
                <tr class="gradeX">
                    <td>@result.AdvertRef</td>
                    <td>@result.AdvertName</td>
                    <td>@result.Brand</td>
                    <td>@result.DateTimePlayed.ToString("dd/MM/yyyy")</td>
                    <td>@result.DateTimePlayed.ToString("hh:mm")</td>
                    <td>@result.CreditsReceived.ToString("F2")</td>
                    <td>@Html.Html5().Media.Audio(result.AdvertName, @"~/Media/Archive/" + result.FileName, "", new { @class = "audio-small" })</td>
                </tr>
            }
            }
        </tbody>

    </table>
</div>