@model EFMVC.Web.ViewModels.AdvertFormModel
@{
    ViewBag.Title = "AddAdvert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Add Advert</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Adverts</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Add Advert</h5>

                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("AddAdvert", "Advert", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {

                        if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @TempData["Error"]
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>

                            <div class="col-lg-6">
                                @Html.TextBoxFor(Model => Model.AdvertName, new { @class = "form-control", @placeholder = "Name" })
                                @Html.ValidationMessageFor(Model => Model.AdvertName, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Client</label>

                            <div class="col-lg-6">
                                @Html.DropDownListFor(Model => Model.ClientId, ViewBag.client as IEnumerable<SelectListItem>, "--Select Client--", new { @class = "input-sm form-control input-s-sm inline" })
                                @Html.ValidationMessageFor(Model => Model.ClientId, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Description</label>

                            <div class="col-lg-6">
                                @Html.TextAreaFor(Model => Model.AdvertDescription, new { @class = "form-control", @placeholder = "Description" })
                                @Html.ValidationMessageFor(Model => Model.AdvertDescription, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Brand</label>

                            <div class="col-lg-6">
                                @Html.TextBoxFor(Model => Model.Brand, new { @class = "form-control", @placeholder = "Brand Name" })
                                @Html.ValidationMessageFor(Model => Model.Brand, null, new { @class = "btn-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Media File</label>
                            <div class="col-lg-6">
                                <div class="btn-group">
                                    <label title="Upload image file" for="inputImage" class="btn btn-blue">
                                        <input type="file" name="mediaFile" id="inputImage" class="hide">
                                        Upload new Media file
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Status</label>

                            <div class="col-lg-6">
                                @Html.DropDownListFor(Model => Model.Status, ViewBag.advertStatus as IEnumerable<SelectListItem>, "--Select Status--", new { @class = "input-sm form-control input-s-sm inline" })
                                @Html.ValidationMessageFor(Model => Model.Status, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-blue" type="submit">Submit</button>
                                <button class="btn btn-sm btn-white" type="button" onclick="window.location.href='@Url.Action("Index","Advert")'">Cancel</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
