@using EFMVC.Web.Areas.Admin.Models;
@model List<OperatorResult>
<div class="row">
    @if (TempData["status"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @TempData["status"]
        </div>
    }
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-operator">
        <thead>
            <tr>
                <th>Operator</th>
                <th>Country</th>
                <th>Active</th>
                <th>Email Cost</th>
                <th>SMS Cost</th>
                <th>Currency</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {
            <tr class="gradeX">
                <td>@result.Name</td>
                <td>@result.CountryName</td>
                <td>@result.IsActive</td>
                <td>@result.EmailCost</td>
                <td>@result.SmsCost</td>
                <td>@result.Currency</td>
                @*@if (result.IsActive == true)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }*@
                <td>
                    <a class="btn btn-danger btn-xs" href='@Url.Action("UpdateOperator","Operator",new {@id=result.OperatorId })'>Update</a>
                    @*<a id="@result.OperatorId" onclick="DeleteOperator(this)" class="btn btn-danger btn-xs btnDelete">Delete</a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
