@model EFMVC.Web.ViewModels.CopyRightFormModel
@{
    ViewBag.Title = "UpdateCopyRight";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Copy Right Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "CopyRight",new {area="Admin" })">Dashboard</a>
            </li>
            <li class="active">
                <strong>Update Copy Right</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>CopyRight Reward</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("UpdateCopyRight", "CopyRight", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @TempData["Error"]
                            </div>
                        }
                        @Html.HiddenFor(Model => Model.Id)

                        <div class="form-group">
                            <label class="col-lg-2 control-label">CopyRight Text <label class="lbldanger">*</label></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(Model => Model.Text, new { @class = "form-control trimmed", @placeholder = "CopyRight Text" })
                                @Html.ValidationMessageFor(Model => Model.Text, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">IsActive</label>
                            <div class="col-lg-4">
                                <div class="radio i-checks">
                                    <label>@Html.RadioButtonFor(model => model.Active, true) Yes</label> &nbsp;
                                    <label>@Html.RadioButtonFor(model => model.Active, false) No</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-blue" type="submit">Submit</button>
                                <button class="btn btn-sm btn-white" type="button" onclick="window.location.href='@Url.Action("Index", "CopyRight", new { area = "Admin" })'">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            trimmed();
        });

        function trimmed() {
            $(".trimmed").on('blur', function () {
                // the following function will be executed every half second
                if ($(this).val() != null) {
                    $(this).val($(this).val().toString().trim());
                }
                var s = $(this).val().replace(/\</g, '');
                s = s.replace(/\>/g, '');
                $(this).val(s);
            });
        }

    </script>
}