@using EFMVC.Web.Areas.Admin.SearchClass.Models;
@model List<PromotionalCampaignAuditResult>
<div class="row">
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @TempData["success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @TempData["Error"]
        </div>
    }
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-promotionalCampaignAudit">
        <thead>
            <tr>
                <th>Operator</th>
                <th>Campaign</th>
                <th>Advert</th>
                <th>MSISDN</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Play Lengths</th>
                <th>DTMF</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {
                <tr class="gradeX">
                    <td>@result.OperatorName</td>
                    <td>@result.PromotionalCampaignName</td>
                    <td>@result.PromotionalAdvertName</td>
                    <td>@result.MSISDN</td>
                    <td>@result.StartTime</td>
                    <td>@result.EndTime</td>
                    <td>@result.PlayLengthTicks</td>
                    <td>@result.DTMFKey</td>
                </tr>
            }
        </tbody>
    </table>
</div>
