@model EFMVC.Web.ViewModels.OperatorMaxAdvertsFormModel
@{
    ViewBag.Title = "Add Operator Max Advert Rule";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Add Operator Max Advert Rule</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "OperatorMaxAdverts",new {area="Admin" })">Dashboard</a>
            </li>
            <li class="active">
                <strong>Add Operator Max Advert Rule</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Add Operator Max Advert Rule</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("AddOperatorMaxAdverts", "OperatorMaxAdverts", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                                                                                                                                                                                                                                                                                                                                                                                              {
                        if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @TempData["Error"]
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Operator <label class="lbldanger">*</label></label>
                            <div class="col-lg-4">
                                @Html.DropDownListFor(Model => Model.OperatorId, ViewBag.operatordetails as IEnumerable<SelectListItem>, "--Select Operator--", new { @class = "form-control input-s-sm inline" })
                                @Html.ValidationMessageFor(Model => Model.OperatorId, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Key Name <label class="lbldanger">*</label></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(Model => Model.KeyName, new { @class = "form-control trimmed", @placeholder = "Key Name" })
                                @Html.ValidationMessageFor(Model => Model.KeyName, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Key Value <label class="lbldanger">*</label></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(Model => Model.KeyValue, new { @class = "form-control trimmed", @placeholder = "Key Value" })
                                @Html.ValidationMessageFor(Model => Model.KeyValue, null, new { @class = "btn-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-blue" type="submit">Submit</button>
                                <button class="btn btn-sm btn-white" type="button" onclick="window.location.href='@Url.Action("Index","OperatorMaxAdverts",new {area="Admin" })'">Cancel</button>
                            </div>
                        </div>
                        @Html.HiddenFor(Model => Model.OperatorName)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            trimmed();
            $("#OperatorId").change(function() {
                $('#OperatorName').val($('option:selected', $(this)).text());
        });
        });

        function trimmed() {
            $(".trimmed").on('blur', function () {
                // the following function will be executed every half second
                if ($(this).val() != null) {
                    $(this).val($(this).val().toString().trim());
                }
                var s = $(this).val().replace(/\</g, '');
                s = s.replace(/\>/g, '');
                $(this).val(s);
            });
        }

    </script>
}