@using EFMVC.Web.Models;
@model List<HelpAdminResult>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-question">
        <thead>
            <tr>
                <th>Username</th>
                <th>UserEmail</th>
                <th>Question number</th>
                <th>Client</th>
                <th>Campaign Name</th>
                <th>Question Date and time</th>
                <th>Question title</th>
                <th>Question subject</th>
                <th>Status</th>
                <th>Last response date time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (HelpAdminResult result in Model)
            {
                <tr class="gradeX">
                    <td>@result.userName</td>
                    <td>@result.userEmail</td>
                    <td><a href='@Url.Action("QuestionDetails", "AdminQuestion",new {@id=result.Id })'>@result.QANumber</a></td>
                    @if (result.ClientId == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@result.ClientName</td>
                    }
                    @if (result.CampaignProfileId == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@result.CampaignName</td>
                    }

                    <td>@result.QuestionDateTime.Value.ToString("dd/MM/yyyy hh:mm")</td>
                    <td>

                        @result.QuestionTitle
                    </td>
                    <td>
                        @result.QuestionSubject
                    </td>
                   

                    <td>
                        @if (result.Status == 3 || result.Status == 4)
                        {
                            <label class="label label-danger">@result.fStatus</label>
                        }
                        else
                        {
                            <label class="label label-primary">@result.fStatus</label>
                        }
                    </td>
                  
                    @if (@result.LastResponseDateTimeByUser != null)
                    {
                        <td>@result.LastResponseDateTimeByUser.Value.ToString("dd/MM/yyyy hh:mm")</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    @if (result.Status == 3)
                    {
                    <td>
                        <a class="btn btn-danger btn-xs" onclick="deleteQuestion('@result.Id')">Archive</a>
                    </td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>