@using EFMVC.Web.SearchClass
@using EFMVC.Web.Models;
@model List<HelpResult>
<div class="row">
    @if (TempData["msgsuccess"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @TempData["msgsuccess"]
        </div>
    }
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-question">
        <thead>
            <tr>

                <th>Ticket ID</th>
                <th>Client</th>
                <th>Campaign</th>
                @*<th>Question Date and time</th>
                    <th>Question title</th>
                    <th>Question subject</th>*@
                <th>Ticket Date/Time</th>
                <th>Ticket Title</th>
                <th>Ticket Subject</th>
                <th>Method of Payment</th>
                <th>Status</th>
                <th>Last Response Date/Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (HelpResult result in Model)
            {
                EFMVC.Web.Common.DateTimeFormat dateTimeConvert = new EFMVC.Web.Common.DateTimeFormat();
                //DateTime QuestionDateTime1 = DateTime.ParseExact(result.QuestionDateTime, "dd/MM/yyyy HH:mm:ss", null);
                //string QuestionDateTime = dateTimeConvert.Format(QuestionDateTime1);

                <tr class="gradeX">

                    @if (result.QANumber == null)
                    {
                        <td><label>-</label></td>
                    }
                    else
                    {
                        <td><a href='@Url.Action("QuestionDetails", "Help", new { @id = result.Id })'>@result.QANumber</a></td>
                    }
                    @if (result.ClientId == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td><a href='@Url.Action("EditClient", "Client",new {@id=result.ClientId })'>@result.ClientName</a></td>
                    }
                    @if (result.CampaignProfileId == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td><a href='@Url.Action("Campaign", "Dashboard",new {@id=result.CampaignProfileId })'>@result.CampaignName</a></td>
                    }

                    @*<td>@result.QuestionDateTime.Value.ToString("dd/MM/yyyy hh:mm")</td>*@
                    <td>@result.QuestionDateTime</td>
                    <td>

                    @result.QuestionTitle
                </td>
                <td>
                    @result.QuestionSubject
                </td>

                @if (result.PaymentMethodId == 1)
                {
                    <td>Credit</td>
                }
                else if (result.PaymentMethodId == 2)
                {
                    <td>Card</td>
                }
                else if (result.PaymentMethodId == 3)
                {
                    <td>Paypal</td>
                }
                else if (result.PaymentMethodId == 5)
                {
                    <td>CoinBase</td>
                }
                else if (result.PaymentMethodId == 6)
                {
                    <td>Mpesa</td>
                }
                else
                {
                    <td>-</td>
                }
                <td>
                    @if (result.Status == 3 || result.Status == 4)
                    {
                        <label class="label label-danger">@result.fStatus</label>
                    }
                    else
                    {
                        <label class="label label-primary">@result.fStatus</label>
                    }
                </td>
                @if (@result.LastResponseDatetime != null)
                {
                    @*<td>@result.LastResponseDatetime.Value.ToString("dd/MM/yyyy hh:mm")</td>*@
                    //DateTime LastResponseDatetime = DateTime.ParseExact(result.LastResponseDatetime, "dd/MM/yyyy HH:mm:ss", null);
                    //string LastResponseDateTimeByUser = dateTimeConvert.Format(Convert.ToDateTime(LastResponseDatetime));
                    <td>@result.LastResponseDatetime</td>
                }
                else
                {
                    <td>-</td>
                }
                @if (@result.Status == 3)
                {
                    <td>
                        <a class="btn btn-danger btn-xs" onclick="deleteQuestion('@result.Id')">Archive</a>
                    </td>
                }
                else
                {
                    <td>-</td>
                }



                </tr>
            }
        </tbody>
    </table>
</div>
