@using EFMVC.Web.Areas.Admin.SearchClass;
@using EFMVC.Web.Areas.Admin.Models;
@model Tuple<List<UserCreditPaymentResult>, UserCreditPaymentFilter>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title" style="border-style:none;">
                <h5>Outstanding Invoice Management</h5>
                <div style="text-align:right">
                    <a class="btn btn-blue" href='@Url.Action("ReceivePayment","UserPayment",new {area="Admin"})'><i class="fa fa-money"></i>&nbsp;Receive User Payment</a>
                </div>
            </div>

            @using (Ajax.BeginForm("SearchUsersCreditPayment", "UserPayment", null,
new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, OnSuccess = "getusercreditpaymentresult", OnBegin = "progressbar" },
null))
            {
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Invoice Number</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    @Html.TextBoxFor(Model2 => Model2.Item2.InvoiceNumber, new { @class = "input-sm form-control", placeholder = "Invoice Number" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Users</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    <select id="UserId" name="UserId" multiple="multiple" class="col-xs-5"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Clients</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    @Html.DropDownList("ClientId", (MultiSelectList)ViewBag.clientdetails, new { @class = "chosen-select", multiple = "multiple", @data_placeholder = "All Clients" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Campaigns</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    @Html.DropDownList("CampaignId", (MultiSelectList)ViewBag.campaigns, new { @class = "chosen-select", multiple = "multiple", @data_placeholder = "All Campaigns" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Paid Amount</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    <div class="input-daterange input-group">
                                        @Html.TextBoxFor(Model2 => Model2.Item2.Fromamount, new { @class = "input-sm form-control" })
                                        <span class="input-group-addon">to</span>
                                        @Html.TextBoxFor(Model2 => Model2.Item2.Toamount, new { @class = "input-sm form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 ibox-field">
                            <label class="col-md-12 col-lg-2 control-label">Created Date</label>
                            <div class="col-md-12 col-lg-10">
                                <div class="form-group">
                                    <div class="input-daterange input-group clsendit">
                                        <div class='input-group' id='createdFrom'>
                                            @Html.TextBoxFor(Model1 => Model1.Item2.Fromdate, new { @class = "input-sm form-control", @id = "fromdate", @Value = "", @data_date_format = "DD/MM/YYYY", @readonly = "readonly", style = "cursor:inherit !important" })
                                            <span class="input-group-addon calendar-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span class="input-group-addon" style="background-color: #eeeeee;">to</span>
                                        <div class='input-group' id='createdTo'>
                                            @Html.TextBoxFor(Model1 => Model1.Item2.Todate, new { @class = "input-sm form-control", @id = "todate", @Value = "", @data_date_format = "DD/MM/YYYY", @readonly = "readonly", style = "cursor:inherit !important" })
                                            <span class="input-group-addon calendar-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-lg-12">
                            <div class="col-sm-12 center">
                                <button class="btn btn-blue" type="submit" id="btnSearch">Search</button>
                                <button class="btn btn-white" type="button" id="usercreditpaymentreset">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div id="userpaymentList">
                        @{ Html.RenderPartial("_UserCreditPaymentDetails", Model.Item1);}
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var progressbar = function (data) {
        $(".spiner-example").show();
    };
    var getusercreditpaymentresult = function (data) {
        if (data != "notauthorise") {
            $(".spiner-example").hide();
            $('.dataTables-usercreditpayment').remove();
            $("#userpaymentList").html(data);
            dataTableSetup();
        }
        else {
            window.location.href = '@Url.Action("Index","Landing",new { area = "" })';
        }
    };
    function dataTableSetup() {
        $('.dataTables-usercreditpayment').DataTable({
            "preDrawCallback": function (settings) {
                $(".spiner-example").show();
            },
            "info": false,
            bFilter: false,
            "searching": false,
            "bLengthChange": false,
            "pageLength": 10,
            "language": {
                "infoEmpty": "No Record Found."
            },
            aoColumnDefs: [
               {
                   bSortable: false,
                   aTargets: [-1]
               }
            ],
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy', title: 'UserCreditPaymentDetails' },
                { extend: 'csv', title: 'UserCreditPaymentDetails'},
                { extend: 'excel', title: 'UserCreditPaymentDetails'},
                { extend: 'pdf', title: 'UserCreditPaymentDetails'},
                {
                    extend: 'print',
                    title: 'UserCreditPaymentDetails',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],
            "drawCallback": function (settings) {
                $(".spiner-example").hide();
            },
            "fnInitComplete": function () { $(".spiner-example").hide(); }	// Hide processingDiv when loading table is complete
        });
    }
</script>